@model Curso.ViewModels.InterestedViewModel

@{
    ViewBag.Title = "Interesados";
}

<div class="row-fluid metro">
    <div class="span2 offset4">
        @using (Html.BeginForm("Update", "Interested", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.Id)
            @Html.ValidationSummary(true)
            <div class="control-group">
                <label class="control-label">Nombre</label>
                <div class="controls">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Telefono</label>
                <div class="controls">
                    @Html.EditorFor(model => model.Phone)
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="@Url.Action("Index","Interested")"><button type="button" class="btn">Cancelar</button></a>
            </div>
        }
    </div>
</div>