@{
    ViewBag.Title = "Lista de Seleccion de Inmuebles Interesados";
}

<div class="row-fluid metro">
    <div class="span12">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Direccion</th>
                    <th>Detalle</th>
                    <th>Acciones</th>
                    <th>Agregar</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var m in Model)
                    {
                        <tr> 
                            <td>@m.Id</td>
                            <td>@m.Address</td>
                            <td>@m.Details</td>                            
                            <td>
                                <a href="@Url.Action("DeleteFromInterested", "Interested", new { id = m.Id, id2 = ViewBag.InterestedId })">
                                    <span class="icon icon-remove-3"/>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<footer class="win-ui-dark win-commandlayout navbar-fixed-bottom">
    <div class="container">
        <div class="row-fluid metro">
            <div class="span1 offset10">
                <a class="win-command" href="@Url.Action("AddForInterested", "Interested", new {id = 0})"> <!-- ID = 0 -> New user-->
                    <span class="win-commandimage win-commandring">&#xe03e;</span>
                    <span class="win-label">Add</span>
                </a>
            </div>
        </div>
    </div>
</footer>

